.message{
    display: flex;
    align-items: center;
    
    margin-top: 15px;
    
    background-color: #f9f5f5;
    
}
.message>img{
   
    object-fit: contain;
    border-radius: 15px;
}
.message__timestamp{
    color: rgb(115, 110, 110);
    font-weight: 500;
    font-size: 15px;
}

.message__info{
    padding-left: 10px;
}